/* header start */
header {
    display:flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
    background: #fff;
}
.nav_links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-row-gap: 20px;

    padding: 20px; 
}
.nav_links a {
    padding: 10px 20px;
}

/* header end */

.space {
    width: 100%;
    height: 80px;
}
/* section start */
section {
    padding: 50px 100px;
}
section:first-of-type {
    margin-top: 70px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.grid img {
    /* width: 50px; */
    width: 80px;
    height: 50px;
    object-fit: contain;
}
.grid a {
    display: block;
}
.grid-child {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
}
.grid-child h4 {
    margin-bottom: 0;
    text-transform: capitalize;
}

/* section end */



/* responsive start */

@media(max-width:992px){ 

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }


}
@media(max-width:768px){ 

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }


}

/* responsive end */





