
.feature-box {
    background: rgba(white, 0.8);
    padding: 4rem 3rem;
    text-align:center;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.3);
    transition: transform 0.3s;

    &_icon {
        font-size:5rem;
        background: $bg_1-light;
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }


}