:root {
    --primary: #1ab7bc;
    --secondary: #eaeaea;
    --light: #f3f3f9;
    --light2: #e9ebec;
    --white: #fff;
    --black: #000;
    --txt: #212529;
    --box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
    --box-shadow2: inset 0 0 0 9999px #000;
    --default-size: 16px;
    --small-size: 14px;
    --smallest-size: 12px;
    --medium-size: 20px;
    --large-size: 24px;
    --largest-size: 34px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    color: var(--txt);
    font-size: var(--default-size);
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
    background: var(--light);
}


h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: var(--largest-size);
}
.twopart {
    display: grid;
    grid-template-columns: auto auto;
}
.card {
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}
.table-area {
    width: 100%;
}
.table-content {
    overflow-x: auto;
    border-radius: 5px;

}
table, thead, tbody, tr, th, td {
    border: 1px solid var(--light2);
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
}

td {
    text-align: center;
}
table {
    width: 100%;
    background: var(--white);
    box-shadow: var(--box-shadow);
}
thead {
    background: var(--primary);
    color: white;
}
tbody {
    background: var(--white);
}
tbody tr:hover {
    background: var(--light);
}

.profile-img {
    --val: 40px;
    width: var(--val);
    height: var(--val);
    border-radius: 50%;
    background: var(--primarily);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.hide { display: none;}
.edit, .profile-img {
    cursor: pointer;
}
.edit:hover {
    color: var(--primary);
}
.form {
    width: 100%;
    margin: 0rem auto;
    padding: var(--large-size) var(--largest-size);
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 5px;
}

.form-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 992px) {
    .form-details {
        grid-template-columns: 1fr;
    }

    .form {
        margin: 0;
    }
    .card {
        padding: 10px;
    }

}

@media screen and (min-width: 1024px) {
    .form {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .form {
        width: 60%;
    }
}

.form h3 {
    color: var(--primary);
    font-size: var(--large-size);
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
}

.form__group {
    position: relative;
}
.form__group img {
    display: inline-block;
}
.brd {
    border: 3px solid;
    border-color:  green;
}
.form__group:not(:last-child) {
    /* margin-bottom: var(--default-size); */
}

.form__label {}

.form__lable, .form__input, .form__input::placeholder {
    font-size: var(--default-size);
    font-weight: 500;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 0 var(--smallest-size);
    border: 2px solid var(--secondary);
    caret-color: var(--primary);
    border-radius: 5px;
}

.form__input:focus, .form__input:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--primary);
}

.form__button {
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--primary);
    border: none;
    color: var(--white);
    font-size: var(--default-size);
    text-transform: uppercase;
    cursor: pointer;
    margin-top: var(--default-size);
}
.form__button__cancel {
    background: var(--secondary);
    color: var(--black);
    margin-left: var(--large-size);
}


.form__radio {
    visibility: hidden;
}

.form__radio:checked~.form__radio__label .form__radio__button:before {
    opacity: 1;
}

.form__radio:checked~.form__radio__label .form__radio__button {
    border-color: var(--primary);
}

.form__radio__label {
    cursor: pointer;
    position: relative;
    padding-left: var(--medium-size);
}

.form__radio__button {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--secondary);
    position: absolute;
    left: -16px;
    top: 0;
}

.form__radio__button:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: var(--primary);
    opacity: 0;
}

.input-value {
    list-style: none;
    list-style-position: inside;
}